
@{
    ViewBag.Title = "Trang chủ";
}

<section class="slider" id="trangchu">
    <div class="slider-content">
        <div class="slider-content-top-container">
            <div class="slider-content-top">
                <a href=""> <img src="@Url.Content("~/Content/img/slider1.jpg")" alt="" width="1256" height="700"></a>
                <a href=""> <img src="@Url.Content("~/Content/img/Slider2.jpg")" alt="" width="1256" height="700"></a>
                <a href=""> <img src="@Url.Content("~/Content/img/Slider3.jpg")" alt="" width="1256" height="700"></a>
                <a href=""> <img src="@Url.Content("~/Content/img/slider4.jpg")" alt="" width="1256" height="700"></a>
                <a href=""> <img src="@Url.Content("~/Content/img/Slider5.jpg")" alt="" width="1256" height="700"></a>

            </div>
            <div class="slider-content-top-btn">

                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="slider-dots">
        </div>
    </div>
    <!-- giới thiệu -->
    <section class="about" id="gioithieu">
        <div class="row">
            <div class="image">
                <img src="@Url.Content("~/Content/img/GIOITHIEU.jpg")" alt="" width="450px" height="100%">
            </div>
            <div class="content">
                <p>
                    Bộ sưu tập son Colorkey bao gồm các sản phẩm son môi chất lượng cao với nhiều gam màu đa dạng, từ
                    nhẹ nhàng đến cá tính. Son Colorkey được đánh giá cao về độ bám màu và dưỡng ẩm, giúp đôi môi
                    trở nên quyến rũ và mịn màng. Cho dù bạn muốn tạo nên vẻ đẹp tự nhiên hay cá tính, bộ sưu tập
                    son Colorkey có thể đáp ứng được mọi nhu cầu trang điểm của bạn.
                </p>
                <a href="#" class="btn">Tìm hiểu thêm</a>
            </div>
        </div>
    </section>
    <!-- menu -->
    <section class="menu" id="sanpham">
        <!-- <h1 class="heading"><span>Sản Phẩm</span></h1> -->
        <div class="box-container">
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp1.jpg")" width="150px">
                <p>COLORKEY Son tint bóng Colorkey<br> dạng lỏng lâu trôi glasting water tint<br> 1.7g</p>
                <div class="price">115.000đ <span>220.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp2.jpg")" width="150px">
                <p>COLORKEY Son Môi Colorkey <br>Lip Mousse Lip Mud Màu Nhung Mờ<br> Xinh Xắn 2g</p>
                <div class="price">298.000đ <span>134.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp3.jpg")" width="150px">
                <p>[Bộ Sưu Tập Hoa Cỏ]Colorkey<br> Dòng Son Lì, màu sắc bão hòa cao,<br> nhẹ và bền, 3g</p>
                <div class="price">116.000đ <span>249.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp4.jpg")" width="150px">
                <p>COLORKEY Son tint bóng Colorkey <br>dạng lỏng lâu trôi glasting water <br>tint 1.7g</p>
                <div class="price">178.000đ <span>220.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp5.jpg")" width="150px">
                <p>
                    Colorkey Cheese Lip Mud Matte Finish, <br>Lâu trôi, Mềm mại và dễ pha trộn Lip<br> Makeup Lip Mud
                    2.3g
                </p>
                <div class="price">116.000đ <span>228.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp6.jpg")" width="150px">
                <p>Colorkey Dưỡng Môi Có Màu Phục<br> Hồi Môi Khô Watery Lip Serum 2.0,<br> 3ml</p>
                <div class="price">193.000đ <span>258.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
            <div class="box">
                <img src="@Url.Content("~/Content/img/sp7.jpg")" width="150px">
                <p>Colorkey Flash Purple Series Soft <br>Matte Lip Mud Phiên bản giới hạn<br> Mờ mượt không dính</p>
                <div class="price">193.000đ <span>258.000đ</span></div>
                <a href="#" class="btnAddToCart">Thêm vào giỏ hàng</a>
            </div>
        </div>

    </section>
   


</section>